* {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

body {
    background-color: #F5F6FA;
}

header {
    width: 100vw;
    height: 10vh;

}

header h3 {
    padding-top: 6vh;
    color: rgba(80, 80, 89, 1);
    font-family: 'LINESeedKR-Bd';
    font-size: 1.25rem;
    text-align: center;
}

#p5js {
    background-color: #ffffff;
    
    width: 36vw;
    height: 36vw;
    border: 1px solid #000000;

    margin: 0 auto;
    margin-top: 4vh;
}



#startBtn {

    width: 100vw;
    height: 4rem;
    margin-top: 4vh;

    display: flex; /* 변경: block → flex */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;     /* 수직 중앙 정렬 */
}

#startBtn button {

    width: 5rem;
    height: 5rem;

    background-image: url("./assets/img/btn_off.png");
    background-size: cover;
}


footer {
    width: 100vw;
    height: 6vh;

    position: absolute;
    bottom: 0;
}

footer p {
    color: rgba(80, 80, 89, 1);
    font-size: 0.8rem;
    font-family: 'LINESeedKR-Rg';
    text-align: center;
    line-height: 6vh;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Th';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
